.page-header
    %h1
        %i.fa.fa-briefcase
        Mi Bufete

.main-content
    .widget
        .widget-content-white.glossed
            .padded
                %h3.form-title.form-title-first
                    %i.fa.fa-pencil
                    Editar Mi Bufete
            
                = render 'form'