.main-content
    .widget
        .widget-content-white.glossed
            .padded
                %h3.form-title.form-title-first
                    %i.fa.fa-terminal
                    Editar Mi Bufete
            
                = render 'form'