%h2 
    Mis Bufetes

- if @bufetes.empty?
    %p.text-center 
        Aun no has creatdo tu bufete.
        = link_to 'Has click aqui para crear tu bufete.', new_bufete_path

- @bufetes.each do |bufete|
    .panel.panel-default
        .panel-body
            %h4
                = link_to bufete.nombre, bufete_path(bufete)
            %p.small= bufete.direccion
            
            %p= bufete.descripcion