.panel.panel-default
    .panel-body
        - if current_user.bufetes.count == 1
            %p.text-center
                Tu plan actual no te permite crear mas de un bufete. Actualiza tu plan ya.
        - else
            %legend Crea tu Bufete
            
            .alert.alert-info
                %p.text-center Ya casi estas listo! Pero antes de comenzar, crea tu bufete llenando los campos a continuacion:
            
            = render 'form'