.page-header
    %h1
        %i.fa.fa-briefcase
        Mi Bufete

.main-content
    .widget
        - if current_user.bufetes.count == 1
            %p.text-center
                Tu plan actual no te permite crear más de un bufete. Actualiza tu plan yá.
        - else
            .widget-content-white.glossed
                .padded
                    %h3.form-title.form-title-first
                        %i.fa.fa-plus
                        Crear Mi Bufete
                        
                    .alert.alert-info
                        %p.text-center Yá casi estás listo! Pero antes de comenzar, crea tu bufete llenando los campos a continuación:
            
                    = render 'form'