.col-md-12
    .row
        .col-md-2
            %br
            / NAV PILLS
            %ul.nav.nav-pills.nav-stacked
                %li.active
                    %a{ "aria-expanded" => "true", href: "#overview", "data-toggle" => "tab" }
                        %span.glyphicon.glyphicon-info-sign
                        Resumen
                %li
                    %a{ "aria-expanded" => "true", href: "#users", "data-toggle" => "tab" }
                        %span.glyphicon.glyphicon-user
                        Usuarios
                        /%span.badge.pull-right= @bufete.users.count
                %li
                    %a{ "aria-expanded" => "true", href: "#clientes", "data-toggle" => "tab" }
                        %span.glyphicon.glyphicon-briefcase
                        Clientes
                        /%span.badge.pull-right= @bufete.clients.count
                %li
                    %a{ "aria-expanded" => "true", href: "#casos", "data-toggle" => "tab" }
                        %span.glyphicon.glyphicon-book
                        Casos
                        /%span.badge.pull-right= @bufete.cases.count
            
        
        .col-md-10
            / CONTENT
            %div{ id: 'myTabContent', class: 'tab-content' }
                %div{ class: "tab-pane fade active in", id: "overview" }
                    = render 'overview'
                %div{ class: "tab-pane fade", id: "users" }
                    = render 'users'    
                %div{ class: "tab-pane fade", id: "clientes" }
                    = render 'clientes'    
                %div{ class: "tab-pane fade", id: "casos" }
                    = render 'casos'
    
            %hr