.page-header
    .header-links.hidden-xs
        - if can? :update, @bufete
            = link_to edit_bufete_path(@bufete) do
                %i.fa.fa-pencil
                Editar
        - if can? :destroy, @bufete
            = link_to bufete_path(@bufete), method: :delete, data: { confirm: 'Estas seguro? Esta accion es irreversible.' } do
                %i.fa.fa-trash-o
                Eliminar
    %h1
        %i.fa.fa-briefcase
        Mi Bufete
        
.main-content
    .widget
    
        %h3.section-title.first-title
            %i.icon-tasks
            = @bufete.nombre

        %p.smal
            %span.fa.fa-map-marker
            = @bufete.direccion + ", " + "Tel: " + @bufete.telefono
    
        =simple_format h @bufete.descripcion