// PLAN BASICO
.panel.panel-default
    .panel-heading
        %h2.text-center 
            Basico
            %br
            %small Lps 500.00 / mes
            
    %ul.list-group
        %li.list-group-item 
            %strong 1
            Cuenta para tu Bufete
            %span.glyphicon.glyphicon-ok.pull-right
    
        %li.list-group-item 
            Maneja
            %strong multiples
            Casos
            %span.glyphicon.glyphicon-ok.pull-right
        %li.list-group-item 
            Maneja
            %strong multiples
            Personas
            %span.glyphicon.glyphicon-ok.pull-right
        %li.list-group-item 
            Entradas 
            %strong ilimitadas
            en tu bitacora.
            %span.glyphicon.glyphicon-ok.pull-right
        %li.list-group-item 
            Maneja 
            %strong evidencia
            en tus casos
            %span.glyphicon.glyphicon-ok.pull-right
        
        
    .panel-footer
        .text-center
            = link_to 'Seleccionar', registrarse_path(plan: 'Gratuito'), class: 'btn btn-success btn-lg', :disabled => "disabled"