.row
    .col-md-8.col-md-offset-2
        %h1.text-center Tu Bufete, en un solo lugar.
        = render 'carousel'

.row
    .col-md-12
        .col-md-3
            .text-center
                %span.fa.fa-users.fa-5x
                %h3 Maneja Personas
                %p Maneja todos tus clientes y testigos en un solo lugar.
            
        .col-md-3
            .text-center
                %span.fa.fa-file-text-o.fa-5x
                %h3 Maneja tus Casos
                %p Asigna personas a tus casos y mantenlos ordenados y guardados seguramente.
        
        .col-md-3
            .text-center
                %span.fa.fa-book.fa-5x
                %h3 Maneja tu Bitacora
                %p Maneja una bitacora por cada caso que lleves.
        
        .col-md-3
            .text-center
                %span.fa.fa-paperclip.fa-5x
                %h3 Maneja Evidencia
                %p Manten un control ordenado de evidencia por cada caso que lleves.
                
%hr

.row
    .col-md-12
        %h1.text-center Abogados Satisfechos
            
        .widget
            .widget-content-white.glossed
                .padded
                    .row
                        // TESTIMONIO 1
                        .col-md-6
                            .col-md-2
                                = image_tag 'testimonial-1.jpg', class: 'img-circle'
                            .col-md-10
                                %p
                                    %em
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                            
                                %p John Doe
                                
                        // TESTIMONIO 2
                        .col-md-6
                            .col-md-2
                                = image_tag 'testimonial-3.jpg', class: 'img-circle'
                            .col-md-10
                                %p 
                                    %em
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                            
                                %p John Doe
                
%hr

.row
    .col-md-6
        %h4
            %strong MISION
        %p Nuestra mision es proveer una plataforma sencilla y segura para los abogados en Honduras donde puedan manejar todo lo relacionado a sus bufetes, y que de esta manera puedan ser mas productivos.
    
    
    .col-md-6