%h1.text-center Escoge tu Plan

%br

.row
    .col-md-4
        = render 'devise/registrations/planes/prueba'
    .col-md-4
        = render 'devise/registrations/planes/basico'
    .col-md-4
        = render 'devise/registrations/planes/premium'
        