%h1 Política De Privacidad.

%p 
    Por medio de nuestra política de privacidad le ponemos al tanto de las debidas condiciones de uso en este sitio.
    La utilización de estos implica su aceptación plena y sin reservas a todas y cada una de las disposiciones incluidas en este Aviso Legal, por lo que si usted no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar u/o acceder a este sitio.

%p
    Reservamos el derecho a modificar esta Declaración de Privacidad en cualquier momento. Su uso continuo de cualquier porción de este sitio tras la notificación o anuncio de tales modificaciones constituirá su aceptación de tales cambios.

%h3 Galletas o Cookies.

%p 
    Este sitio hace uso de cookies, el cual son pequeños ficheros de datos que se generan en su ordenador, el cual envía información sin proporcionar referencias que permitan deducir datos personales de este.

%p
    Usted podrá configurar su navegador para que notifique y rechace la instalación de las cookies enviadas por este sitio, sin que ello perjudique la posibilidad de acceder a los contenidos. Sin embargo, no nos responsabilizamos de que la desactivación de los mismos impida el buen funcionamiento de la del sitio.

%h3 Política De Protección De Datos Personales

%p
    Para utilizar algunos de los servicios o acceder a determinados contenidos, deberá proporcionar previamente ciertos datos de carácter personal, que solo serán utilizados para el propósito que fueron recopilados.

%p
    El tipo de la posible Información que se le sea solicitada incluye, de manera enunciativa más no limitativa, su nombre y apellido o nombre de su empresa, dirección de correo electrónico (e-mail), numero de identidad, mobil, entre otros. No toda la información solicitada al momento de participar en el sitio es obligatoria de proporcionarse, salvo aquella que consideremos conveniente y que así se le haga saber.

%p
    Cómo principio general, este sitio no comparte ni revela información obtenida, excepto cuando haya sido autorizada por usted, o en los siguientes casos:

%p
    a) Cuando liste una propiedad, los demas usuarios podran ver algunos de sus datos como su nombre, correo electronico y mobil. Estos datos son mostrados para facilitar el contacto entre los usuarios.

%p
    b) Cuando a juicio de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos de esta página, o para salvaguardar la integridad de los demás usuarios o del sitio.
    Deberá estar consciente de que si usted voluntariamente revela información personal en línea en un área pública, esa información puede ser recogida y usada por otros. Nosotros no controlamos las acciones de nuestros visitantes y usuarios.

%h3 Conducta Responsable.

%p
    Toda la información que facilite deberá ser veraz. A estos efectos, usted garantiza la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la suscripción de los Servicios, acceso a contenidos o áreas restringidas del sitio. En todo caso usted será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a este sitio o a terceros por la información que facilite.

%p
    Usted se compromete a actuar en forma responsable en este sitio y a tratar a otros visitantes con respeto.

%h3 Contacto

%p
    Si tiene preguntas o cuestiones sobre esta Política, no dude en contactarse en cualquier momento a través del formulario de contacto disponible en el sitio, el cual puede accesar
    = link_to 'aqui', contacto_path