.page-header
    %h1
        %i.fa.fa-gift
        Cupones

.main-content
    .widget
        .widget-content-white.glossed
            .padded
                %h3.form-title.form-title-first
                    %i.fa.fa-plus
                    Crear Nuevo Cupon
                    
                = render 'form'