- if model.errors.any?
    #error_messages.alert.alert-danger
        %h4
            %strong Porfavor corrija los siguientes errores:
        %ul
            - model.errors.full_messages.each do |message|
                %li= message