.page-header
    %h1
        %i.fa.fa-book
        Casos

.main-content
    .widget
        .widget-content-white.glossed
            .padded
                %h3.form-title.form-title-first
                    %i.fa.fa-plus
                    Agregar Entrada a Bitácora
                    
                = render 'form'