.page-header
    %h1
        %i.fa.fa-users
        Personas

.main-content
    .widget
        .widget-content-white.glossed
            .padded
                %h3.form-title.form-title-first
                    %i.fa.fa-pencil
                    Editar Persona

                = render 'form'
