%legend Registrar Persona

%p Registra personas como clientes o contra-personas y manten su informacion almacenada en el sistema.

= render 'form'

= link_to :back do
    %span.glyphicon.glyphicon-arrow-left
    Regresar
    
%hr