/ Show all Clients for this Case
%h4.text-center Clientes

.list-group
    - @caso.clientes.each do |cliente|
        = link_to "#{cliente.nombre_completo}", bufete_persona_path(@bufete, cliente), class: 'list-group-item'
                