/ Show all Counterparts for this Case
%h4.text-center Contrapartes

.list-group
    - @caso.contrapartes.each do |contraparte|
        = link_to "#{contraparte.nombre_completo}", bufete_persona_path(@bufete, contraparte), class: 'list-group-item'
                