/ Show all Witnesses for this Case
%h3 Testigos

.row
    - @caso.testigos.each do |testigo|
        .col-sm-12.col-md-3.text-center    
            = link_to bufete_persona_path(@bufete, testigo) do
                = image_tag testigo.photo.url(:thumb), class: 'img-circle'
                
                %h5
                    = testigo.nombre_completo
                    
%hr