/ Show all Witnesses for this Case
%h4.text-center Testigos

.list-group
    - @caso.testigos.each do |testigo|
        = link_to "#{testigo.nombre_completo}", bufete_persona_path(@bufete, testigo), class: 'list-group-item'