.col-md-12
    .panel.panel-default
        .panel-body
            %legend Editar Caso
            
            = render 'form'
            
            = link_to :back do
                %span.glyphicon.glyphicon-arrow-left
                Regresar
                
            %hr