.panel.panel-default
    .panel-body
        %h3
            = @caso.nombre
            .pull-right
                .btn-group.btn-group-sm.pull-right
                    - if can? :edit, Caso
                        = link_to edit_bufete_caso_path(@bufete, @caso), class: "btn btn-default" do
                            %span.glyphicon.glyphicon-pencil
                            Editar
                    - if can? :destroy, Caso
                        = link_to bufete_caso_path(@bufete, @caso), method: :delete, class: "btn btn-danger" do
                            %span.glyphicon.glyphicon-trash
                            Eliminar
        
        %ul.nav.nav-tabs
            %li.active
                %a{ "aria-expanded" => "true", href: "#resumen", "data-toggle" => "tab" }
                    %span.glyphicon.glyphicon-text-size
                    Resumen
                    
            %li
                %a{ "aria-expanded" => "true", href: "#bitacora", "data-toggle" => "tab" }
                    %span.glyphicon.glyphicon-book
                    Bitacora
                    
            %li
                %a{ "aria-expanded" => "true", href: "#evidencia", "data-toggle" => "tab" }
                    %span.glyphicon.glyphicon-paperclip
                    Evidencia 
                        
            
        %div{ id: 'myTabContent', class: 'tab-content' }
            %div{ class: "tab-pane fade active in", id: "resumen" }
                / RESUMEN
                %br
                = render 'resumen'
            %div{ class: "tab-pane fade", id: "bitacora" }
                / BITACORA
                %br
            %div{ class: "tab-pane fade", id: "evidencia" }
                / BITACORA
                %br    
            
                    