// Place all the styles related to the paginas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-carousel {
    border: 5px solid #82403B;
    margin-bottom: 50px;
}

footer a {
    color: #fff;
}

footer p {
    color: #fff;
}