// Place all the styles related to the paginas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-carousel {
    border: 5px solid #d3d3d3;
}

.home-bg {
    background: #fff;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #444;
    margin-bottom: 30px;
}

p {
    color: gray;
}

.navbar-inverse {
    background-color: red;
}