.padded
    %h3.section-title.first-title
        %i.fa.fa-users
        Usuarios

    %table.table.table-striped.table-hover
        %thead
            %tr
                %th E-Mail
                %th Nombre Completo
                %th Plan
        %tbody
            - @users.each do |user|
                %tr
                    %td= user.email
                    %td= user.nombre_completo
                    %td
                        %span.label.label-info= user.plan