.page-header
    %h1
        %i.fa.fa-dashboard
        Panel de Control

.main-content
    - if current_user.bufetes.any?

        = render 'honorarios_graph'

    - else 
        %p.text-center 
            Aun no has creado tu bufete.
            = link_to 'Crea tu bufete ya', crear_bufete_path