.page-header
    %h1
        %i.fa.fa-dashboard
        Panel de Control
        
.main-content
    .widget
    
        .alert.alert-warning
            %strong
                %p.text-center Bienvenido!