.row
    .col-md-10.col-md-offset-1
        .row
            %h2
                = link_to 'Mi Bufete', root_path
            
            %ul.list-inline.pull-right
                %li 
                    = link_to 'Planes', planes_path
                %li 
                    = link_to 'Login', login_path