.header
    .row
        .col-md-6.col-md-offset-3
            .col-md-4
                = link_to root_path do
                    = image_tag 'justix_logo.jpg'
            .col-md-8 
                %br
                - if !user_signed_in?
                    %ul.list-inline.pull-right
                        %li 
                            = link_to 'Ver Planes', planes_path, class: 'btn btn-success'
                        %li 
                            = link_to 'Login', login_path, class: 'btn btn-default'