%nav.navbar.navbar-inverse
    .col-md-10.col-md-offset-1
        .container
            / Brand and toggle get grouped for better mobile display
            .navbar-header
                %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
          
          
            / Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                %ul.nav.navbar-nav
                    %li.active
                        %a{:href => "#"}
                            Link
                            %span.sr-only (current)
                    %li
                        %a{:href => "#"} Link
         
                %ul.nav.navbar-nav.navbar-right
                    %li
                        %a{:href => "#"} Link

            / /.navbar-collapse
        / /.container-fluid