- if user_signed_in?
    .well
        %ul.nav.nav-stacked.aside-menu
            %li.active
                = link_to (current_user.bufetes.any? ? current_user.bufetes.first : crear_bufete_path) do 
                    %i.fa.fa-briefcase
                    Mi Bufete
            %li
                = link_to (current_user.bufetes.any? ? bufete_casos_path(current_user.bufetes.first) : crear_bufete_path) do 
                    %i.fa.fa-book
                    Casos
            %li 
                = link_to (current_user.bufetes.any? ? bufete_personas_path(current_user.bufetes.first) : crear_bufete_path) do
                    %i.fa.fa-users
                    Personas